<!-- access $scope in dev-console: angular.element('#main_view').scope() -->

<div id="main_view">
  <div class="jumbotron">
    <div class="row">
      <h1>Go out and do something!</h1>

      <form>
        <div class="form-group">
          <label class="sr-only" for="todo_entry">create a todo-entry</label>
          <input type="text" class="form-control" id="todo_entry"
                 placeholder="activity/reminder (prepend words with # or @ to tag them)"
                 ng-model="localData.newEntry.description"
                 has-focus="localData.focusTodoEntry">
        </div>

        <div class="alert"
             ng-class="'alert-'+selectionData.degreesOfUrgency[localData.newEntry.urgency].class"
             ng-show="localData.newEntry.description || localData.newEntry.id">
          <div class="row">
            <div class="form-group">
              <label class="sr-only" for="todo_date">date</label>
              <input type="text" class="form-control" id="todo_date"
                     placeholder="specify when"
                     ng-model="localData.newEntry.date">
            </div>
            <div class="form-group">
              <label class="sr-only" for="todo_location">location</label>
              <input type="text" class="form-control" id="todo_location"
                     placeholder="specify where"
                     ng-model="localData.newEntry.location">
            </div>
            <div class="form-group">
              <label class="sr-only" for="todo_urgency">urgency</label>
              <select class="form-control" id="todo_urgency"
                      ng-options="degreeOfUrgency.id as degreeOfUrgency.title for degreeOfUrgency in selectionData.degreesOfUrgency"
                      ng-model="localData.newEntry.urgency" />
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-default"
                ng-disabled="!localData.newEntry.description"
                ng-click="localFunctions.saveTodoEntry(localData.newEntry)">
          Submit
        </button>
        <button type="submit" class="btn btn-default" ng-if="localData.newEntry.id"
                ng-click="localFunctions.cancelTodoEntry(localData.newEntry)">
          Cancel
        </button>
      </form>
    </div>
  </div>

  <div>
    <ul class="list-group">
      <li class="list-group-item todo-entry"
          ng-class="'list-group-item-'+selectionData.degreesOfUrgency[entry.urgency].class"
          ng-repeat="entry in localData.todoEntries">
        <input class="checkbox checkbox-inline" type="checkbox" ng-model="entry.isComplete" ng-click="localFunctions.saveTodoEntry(entry)" />
        <span ng-click="localFunctions.editTodoEntry(entry)">{{entry.description}}</span>
        <i class="glyphicon glyphicon-remove remove-entry" ng-click="localFunctions.removeTodoEntry(entry)"></i>
      </li>
    </ul>
  </div>
</div>
