<!-- access $scope in dev-console: angular.element('#main_view').scope() -->

<div id="main_view">
  <div class="jumbotron">
    <h1>Go out and do something!</h1>

    <form>
      <div class="form-group">
        <label for="todo_entry">create a todo-entry</label>
        <input type="text" class="form-control" id="todo_entry"
               placeholder="activity/reminder (prepend words with # or @ to tag them)"
               ng-model="localData.newEntry.description">
      </div>

      <button type="submit" class="btn btn-default"
              ng-click="localFunctions.saveTodoEntry(localData.newEntry)">Submit</button>
    </form>
  </div>

  <div>
    <ul>
      <li ng-repeat="entry in localData.todoEntries">{{entry.description}}</li>
    </ul>
  </div>
</div>
